<div ng-if="WikiArticles.length > 0">
    <div class="row">
        <div class="col-xs-12 col-sm-3 sidebar">
            <ul class="nav nav-sidebar">
                <li ng-class="{ 'active': $first }" ng-repeat="Wiki in WikiArticles" ng-include="'categoryTree'"></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="wiki-container">
                <h1 class="wiki-title">{{CurrentArticle.ArticleName}}</h1>
                <div ng-if="CurrentArticle !== null" ng-bind-html="CurrentArticle.Body"></div>
                <div ng-if="CurrentArticle == null"><label>You do not have access to this wiki.  Please contact your administrator for further information.</label></div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="categoryTree">
    <a ng-click="loadArticle(Wiki.Article.ArticleID, $event)">{{Wiki.Article.ArticleName}}</a>
    <ul class="nav sub-nav" ng-if="Wiki.SubArticles.length">
        <li ng-repeat="Wiki in Wiki.SubArticles" ng-include="'categoryTree'"></li>
    </ul>
</script>

<style>
  .sidebar {
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #f3f3f4;
    border-right: 1px solid #e7e7e7;
  }

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; 
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.sub-nav { padding-left: 20px;  }

li.active > .sub-nav { display: block; }

/*Wiki Content*/
.wiki-container { padding-left: 30px; }
.wiki-title {
     border-bottom: 1px solid #eee; 
     padding-bottom:10px;
}

</style>
